.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 85px);
  grid-template-rows: repeat(8, 72px);
  width: 800px;
  height: 800px;
}
.instructions-bar {
  height: 575px;
  width: 675px;
  background-color: darkgray;
}
.tile {
  height: 100px;
  width: 100px;
  border: 1.5px solid grey;
  border-style: inset;
}
.white-tile {
  background-color: aliceblue;
  cursor: pointer;
}
.black-tile {
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}
.highlighted-tiles {
  border: 5px solid greenyellow;
  color: greenyellow;
}
.selected-tile {
  color: red;
}
